<h1 class="text-light align-center">Congratulations!</h1>
<hr class="thin">
<div class="align-center">
    <a class= "button text-light info block-shadow-info text-shadow" href="../Home/@ViewBag.ProfileId">Continue</a>
</div>