@model ASP.NET._2.Myalik.SocialNet.Models.ErrorViewModel
<div class="align-center">
    <h1>
        <span class="mif-cross mif-3x fg-red"></span> <span style="font-family: 'Chewy', cursive; font-size: 24pt;">Http Code @Model.Code</span> 
    </h1>
    <h3 style="font-family: 'Chewy', cursive; font-size: 20pt;"> @Model.Message </h3>
</div>
