@model ASP.NET._2.Myalik.SocialNet.Models.UserInformationViewModel

<h2 style="font-family: 'Chewy', cursive; font-size: 16pt;">Sended to @Model.Name @Model.LastName</h2>
<button type="submit" value="send" class="button warning" onclick="showDialog('MessageDialog')" style="width: 200px">
    OK
</button>