@{
    var ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "MessageBox",
        OnSuccess = "Success",
        OnFailure = "Failure"
    };
}

<div id="MessageBox" style="width: 550px;">
    <h2 style="font-family: 'Chewy', cursive; font-size: 16pt;">Input you're message...</h2>
    @using (@Ajax.BeginForm("SendMessage", "UserMessage", ajaxOptions))
    {
        <input type="hidden" value="@ViewData["ProfileId"]" id="toProfileId" name="toProfileId" />
        <div class="input-control textarea full-size" data-role="input">
            <textarea id="message" name="message" class="block-shadow-impact" rows="3" maxlength="200" wrap="hard" placeholder="Message..." style="resize: none; border: none; margin-bottom: 10px;"></textarea>
        </div>
        <button type="submit" value="send" class="button warning" style="width: 200px">
            Send
        </button>
    }
</div>